{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/info/terms.css' %}">
{% endblock %}

{% block content %}
<div class="terms-container">
    <h1 class="terms-title">Угода користувача</h1>

    <div class="terms-text">
        <h5>1. Вступ</h5>
        <p>Ця угода описує умови використання сервісу TechMaster, наданого компанією "TechMaster". Використовуючи наші послуги, ви погоджуєтесь з наступними умовами:</p>
        
        <h5>2. Право користування</h5>
        <p>Ми надаємо вам обмежену ліцензію на використання нашого сайту і сервісів для особистих або комерційних цілей, згідно з умовами цієї угоди.</p>

        <h5>3. Обов'язки користувача</h5>
        <p>Ви зобов'язані дотримуватись всіх застосовних законів та норм щодо використання нашого вебсайту та не порушувати права інших користувачів.</p>

        <h5>4. Відповідальність</h5>
        <p>Ми не несемо відповідальності за будь-які збитки або шкоду, що виникають через використання наших послуг, окрім випадків, коли це передбачено законодавством.</p>

        <h5>5. Конфіденційність</h5>
        <p>Ми зобов'язуємось не розголошувати ваші персональні дані третім особам без вашої згоди, за винятком випадків, передбачених законодавством.</p>

        <h5>6. Зміни угоди</h5>
        <p>Ми маємо право змінювати умови цієї угоди. Зміни набирають чинності після їх публікації на сайті.</p>
    </div>
</div>
{% endblock %}
