{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/info/terms-of-service.css' %}">
{% endblock %}

{% block content %}
<div class="terms-container">
    <h1 class="terms-title">{% trans "Угода користувача" %}</h1>

    <div class="terms-text">
        <h5>{% trans "1. Вступ" %}</h5>
        <p>{% trans "Ця угода описує умови використання сервісу  PC Components Store, наданого компанією \"PC Components Store\". Використовуючи наші послуги, ви погоджуєтесь з наступними умовами:" %}</p>

        <h5>{% trans "2. Право користування" %}</h5>
        <p>{% trans "Ми надаємо вам обмежену ліцензію на використання нашого сайту і сервісів для особистих або комерційних цілей, згідно з умовами цієї угоди." %}</p>

        <h5>{% trans "3. Обов'язки користувача" %}</h5>
        <p>{% trans "Ви зобов'язані дотримуватись всіх застосовних законів та норм щодо використання нашого вебсайту та не порушувати права інших користувачів." %}</p>

        <h5>{% trans "4. Відповідальність" %}</h5>
        <p>{% trans "Ми не несемо відповідальності за будь-які збитки або шкоду, що виникають через використання наших послуг, окрім випадків, коли це передбачено законодавством." %}</p>

        <h5>{% trans "5. Конфіденційність" %}</h5>
        <p>{% trans "Ми зобов'язуємось не розголошувати ваші персональні дані третім особам без вашої згоди, за винятком випадків, передбачених законодавством." %}</p>

        <h5>{% trans "6. Зміни угоди" %}</h5>
        <p>{% trans "Ми маємо право змінювати умови цієї угоди. Зміни набирають чинності після їх публікації на сайті." %}</p>
    </div>
</div>
{% endblock %}
