{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/orders/order-cancel.css' %}">
{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="error-container mx-auto">
        <h2 class="error-title">{% trans "Оплата не вдалася" %}</h2>
        <p class="error-message">
            {% trans "Щось пішло не так під час обробки платежу." %}<br>
            {% trans "Будь ласка, спробуйте ще раз або зв'яжіться з нашою підтримкою." %}
        </p>

        <a href="{% url 'products:main_page' %}" class="btn btn-return-home">
            {% trans "Повернутись на головну" %}
        </a>
    </div>
</div>
{% endblock %}
