{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/orders/cancel.css' %}">
{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="error-container mx-auto">
        <h2 class="error-title">Оплата не вдалася</h2>
        <p class="error-message">
            Щось пішло не так під час обробки платежу.<br>
            Будь ласка, спробуйте ще раз або зв'яжіться з нашою підтримкою.
        </p>

        <a href="{% url 'products:main_page' %}" class="btn btn-return-home">
            Повернутись на головну
        </a>
    </div>
</div>
{% endblock %}
