{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/orders/success.css' %}">
{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="thank-you-container mx-auto">
        <h2 class="thank-you-title">Дякуємо за ваше замовлення!</h2>
        <p class="thank-you-message">
            Ваше замовлення було успішно оформлено.<br>
            Ми зв'яжемося з вами найближчим часом для підтвердження доставки.
        </p>

        <a href="{% url 'products:main_page' %}" class="btn btn-return-home">
            Повернутись на головну
        </a>
    </div>
</div>
{% endblock %}
